.chartContainer {

  width: 100%;
  height: auto;

  & > .trendDataContainer {
    display: flex;
    flex-direction: column;

    & > .title {
      font-size: small;
      opacity: 0.5;
    }

    & > .data {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: small;
    }
  }
}