.walletContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  & > .amount {
    align-self: center;
    
    display: flex;
    align-items: center;

    z-index: 1;

    & > .dollarSign {
       color: goldenrod;
    }
  }

  & > .lastTransaction {
    display: flex;
    flex-direction: column;

    background-color: var(--primary);

    border-radius: 4px;

    padding: 1rem;

    z-index: 1;

    & > .lastTransactionHeader {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & > .details {
        display: flex;
        align-items: center;
        gap: 1rem;

        font-size: smaller;
        opacity: 0.5;
      }
    }
  }
}