.header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  z-index: 2;

  & > .filler {
    opacity: 0;
  }

  & > .moreButton {
    cursor: pointer;
    border-radius: 50%;

    font-size: 2rem;
    padding: 5px;
        
    &:hover {
      background-color: var(--primary);
      animation: fade ease-in 0.3s;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}