.mainContainer {
  height: fit-content;
  width: 100%;

  display: flex;
  gap: 1rem;

  padding: 2rem;

  & > .rightSection {
    flex: 0.3;

    & > .userInput {
      background-color: var(--secondary);
      height: auto;
      border-radius: 6px;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      padding: 2rem;

      & > .nav {

        & > .activeTab {
          color: goldenrod;
        }
      }

      & > .inputContainer {
        background-color: #fff;

        display: flex;
        justify-content: space-around;

        border-radius: 2px;

        & > input {
          width: 75%;
          padding: 1rem;
          border: none;
          outline: none;

          border-radius: 2px 0 0 2px;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        & > button {
          width: 25%;
          border: none;
          border-radius: 0 2px 2px 0;

          cursor: pointer;
        }
      }

      & > .nav {
        display: flex;
        gap: 1rem;
        cursor: pointer;
      }
    }
  }

  & > .leftSection {
    flex: 0.7;

    & > .leftSectionCharts {
      display: flex;
      gap: 1rem;
    }

    & > .leftSectionDetails {
      display: flex;
      gap: 1rem;  
    }
  }

  & > .rightSection, & > .leftSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 999px) {

    & > .leftSection > .leftSectionDetails {
      flex-direction: column;
    }

    & > .rightSection, & > .leftSection {
      flex: 1;
    }
  }
}